<nav class="flex items-center gap-4 px-10 py-4 opacity-80 bg-gray-200 justify-between absolute w-screen shadow-lg">
    <div class="flex flex-1 gap-4">
        <a routerLink="/home" class="font-medium hover:text-blue-800 flex items-center gap-2">
            <span class="material-icons text-xl">
                home
            </span>
            <div class="text-lg">Home</div>
        </a>
        <a routerLink="/aboutus" class="text-lg font-medium hover:text-blue-800">About Us</a>
    </div>
    <div class="flex gap-4">
        <button mat-flat-button>Sign In</button>
        <button mat-flat-button>Sign Up</button>
    </div>
</nav>