<nav class="flex items-center gap-4 px-10 py-4 bg-purple-300 justify-between absolute w-screen">
    <div class="flex flex-1 gap-4">
        <a routerLink="/home" class="font-medium hover:text-blue-600 flex items-center">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" class="text-sm"></mat-icon>
            <div class="text-lg">Home</div>
        </a>
        <a routerLink="/aboutus" class="text-lg font-medium hover:text-blue-600">About Us</a>
    </div>
    <div class="flex gap-4">
        <button mat-flat-button>Sign In</button>
        <button mat-flat-button>Sign Up</button>
    </div>
</nav>